<%= form_with(model: tabel_area_spv) do |form| %>
  <% if tabel_area_spv.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tabel_area_spv.errors.count, "error") %> prohibited this tabel_area_spv from being saved:</h2>

      <ul>
        <% tabel_area_spv.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ID_Area, style: "display: block" %>
    <%= form.number_field :ID_Area %>
  </div>

  <div>
    <%= form.label :Area, style: "display: block" %>
    <%= form.text_field :Area %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
