<h1>Editing tabel area spv</h1>

<%= render "form", tabel_area_spv: @tabel_area_spv %>

<br>

<div>
  <%= link_to "Show this tabel area spv", @tabel_area_spv %> |
  <%= link_to "Back to tabel area spvs", tabel_area_spvs_path %>
</div>
