<p style="color: green"><%= notice %></p>

<h1>Tabel area spvs</h1>

<div id="tabel_area_spvs">
  <% @tabel_area_spvs.each do |tabel_area_spv| %>
    <%= render tabel_area_spv %>
    <p>
      <%= link_to "Show this tabel area spv", tabel_area_spv %>
    </p>
  <% end %>
</div>

<%= link_to "New tabel area spv", new_tabel_area_spv_path %>
