<p style="color: green"><%= notice %></p>

<%= render @tabel_area_spv %>

<div>
  <%= link_to "Edit this tabel area spv", edit_tabel_area_spv_path(@tabel_area_spv) %> |
  <%= link_to "Back to tabel area spvs", tabel_area_spvs_path %>

  <%= button_to "Destroy this tabel area spv", @tabel_area_spv, method: :delete %>
</div>
