<%= form_with(model: transaksi) do |form| %>
  <% if transaksi.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(transaksi.errors.count, "error") %> prohibited this transaksi from being saved:</h2>

      <ul>
        <% transaksi.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :payment, style: "display: block" %>
    <%= form.number_field :payment %>
  </div>

  <div>
    <%= form.label :price, style: "display: block" %>
    <%= form.text_field :price %>
  </div>

  <div>
    <%= form.label :qty, style: "display: block" %>
    <%= form.number_field :qty %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
