<div id="<%= dom_id transaksi %>">
  <p>
    <strong>Name:</strong>
    <%= transaksi.name %>
  </p>

  <p>
    <strong>Payment:</strong>
    <%= transaksi.payment %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= transaksi.price %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= transaksi.qty %>
  </p>

</div>
