<h1>Editing transaksi</h1>

<%= render "form", transaksi: @transaksi %>

<br>

<div>
  <%= link_to "Show this transaksi", @transaksi %> |
  <%= link_to "Back to transaksis", transaksis_path %>
</div>
