<p style="color: green"><%= notice %></p>

<h1>Transaksis</h1>

<div id="transaksis">
  <% @transaksis.each do |transaksi| %>
    <%= render transaksi %>
    <p>
      <%= link_to "Show this transaksi", transaksi %>
    </p>
  <% end %>
</div>

<%= link_to "New transaksi", new_transaksi_path %>
