<p style="color: green"><%= notice %></p>

<%= render @transaksi %>

<div>
  <%= link_to "Edit this transaksi", edit_transaksi_path(@transaksi) %> |
  <%= link_to "Back to transaksis", transaksis_path %>

  <%= button_to "Destroy this transaksi", @transaksi, method: :delete %>
</div>
