<%= form_with(model: tabel_pelanggaran) do |form| %>
  <% if tabel_pelanggaran.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tabel_pelanggaran.errors.count, "error") %> prohibited this tabel_pelanggaran from being saved:</h2>

      <ul>
        <% tabel_pelanggaran.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ID_Nota, style: "display: block" %>
    <%= form.number_field :ID_Nota %>
  </div>

  <div>
    <%= form.label :No_Nota, style: "display: block" %>
    <%= form.text_field :No_Nota %>
  </div>

  <div>
    <%= form.label :Tgl_Pelanggaran, style: "display: block" %>
    <%= form.text_field :Tgl_Pelanggaran %>
  </div>

  <div>
    <%= form.label :Lokasi, style: "display: block" %>
    <%= form.text_field :Lokasi %>
  </div>

  <div>
    <%= form.label :Pelanggaran, style: "display: block" %>
    <%= form.text_field :Pelanggaran %>
  </div>

  <div>
    <%= form.label :Tindakan, style: "display: block" %>
    <%= form.text_field :Tindakan %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
