<div id="<%= dom_id tabel_pelanggaran %>">
  <p>
    <strong>Id nota:</strong>
    <%= tabel_pelanggaran.ID_Nota %>
  </p>

  <p>
    <strong>No nota:</strong>
    <%= tabel_pelanggaran.No_Nota %>
  </p>

  <p>
    <strong>Tgl pelanggaran:</strong>
    <%= tabel_pelanggaran.Tgl_Pelanggaran %>
  </p>

  <p>
    <strong>Lokasi:</strong>
    <%= tabel_pelanggaran.Lokasi %>
  </p>

  <p>
    <strong>Pelanggaran:</strong>
    <%= tabel_pelanggaran.Pelanggaran %>
  </p>

  <p>
    <strong>Tindakan:</strong>
    <%= tabel_pelanggaran.Tindakan %>
  </p>

</div>
