<h1>Editing tabel pelanggaran</h1>

<%= render "form", tabel_pelanggaran: @tabel_pelanggaran %>

<br>

<div>
  <%= link_to "Show this tabel pelanggaran", @tabel_pelanggaran %> |
  <%= link_to "Back to tabel pelanggarans", tabel_pelanggarans_path %>
</div>
