<p style="color: green"><%= notice %></p>

<h1>Tabel pelanggarans</h1>

<div id="tabel_pelanggarans">
  <% @tabel_pelanggarans.each do |tabel_pelanggaran| %>
    <%= render tabel_pelanggaran %>
    <p>
      <%= link_to "Show this tabel pelanggaran", tabel_pelanggaran %>
    </p>
  <% end %>
</div>

<%= link_to "New tabel pelanggaran", new_tabel_pelanggaran_path %>
