<p style="color: green"><%= notice %></p>

<%= render @tabel_pelanggaran %>

<div>
  <%= link_to "Edit this tabel pelanggaran", edit_tabel_pelanggaran_path(@tabel_pelanggaran) %> |
  <%= link_to "Back to tabel pelanggarans", tabel_pelanggarans_path %>

  <%= button_to "Destroy this tabel pelanggaran", @tabel_pelanggaran, method: :delete %>
</div>
