<%= form_with(model: tabel_sopir) do |form| %>
  <% if tabel_sopir.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tabel_sopir.errors.count, "error") %> prohibited this tabel_sopir from being saved:</h2>

      <ul>
        <% tabel_sopir.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :SIM, style: "display: block" %>
    <%= form.number_field :SIM %>
  </div>

  <div>
    <%= form.label :namaSopir, style: "display: block" %>
    <%= form.text_field :namaSopir %>
  </div>

  <div>
    <%= form.label :JK, style: "display: block" %>
    <%= form.text_field :JK %>
  </div>

  <div>
    <%= form.label :Kota, style: "display: block" %>
    <%= form.text_field :Kota %>
  </div>

  <div>
    <%= form.label :Provinsi, style: "display: block" %>
    <%= form.text_field :Provinsi %>
  </div>

  <div>
    <%= form.label :TglLhr, style: "display: block" %>
    <%= form.text_field :TglLhr %>
  </div>

  <div>
    <%= form.label :TB, style: "display: block" %>
    <%= form.text_field :TB %>
  </div>

  <div>
    <%= form.label :BB, style: "display: block" %>
    <%= form.number_field :BB %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
