<div id="<%= dom_id tabel_sopir %>">
  <p>
    <strong>Sim:</strong>
    <%= tabel_sopir.SIM %>
  </p>

  <p>
    <strong>Namasopir:</strong>
    <%= tabel_sopir.namaSopir %>
  </p>

  <p>
    <strong>Jk:</strong>
    <%= tabel_sopir.JK %>
  </p>

  <p>
    <strong>Kota:</strong>
    <%= tabel_sopir.Kota %>
  </p>

  <p>
    <strong>Provinsi:</strong>
    <%= tabel_sopir.Provinsi %>
  </p>

  <p>
    <strong>Tgllhr:</strong>
    <%= tabel_sopir.TglLhr %>
  </p>

  <p>
    <strong>Tb:</strong>
    <%= tabel_sopir.TB %>
  </p>

  <p>
    <strong>Bb:</strong>
    <%= tabel_sopir.BB %>
  </p>

</div>
