<h1>Editing tabel sopir</h1>

<%= render "form", tabel_sopir: @tabel_sopir %>

<br>

<div>
  <%= link_to "Show this tabel sopir", @tabel_sopir %> |
  <%= link_to "Back to tabel sopirs", tabel_sopirs_path %>
</div>
