<p style="color: green"><%= notice %></p>

<h1>Tabel sopirs</h1>

<div id="tabel_sopirs">
  <% @tabel_sopirs.each do |tabel_sopir| %>
    <%= render tabel_sopir %>
    <p>
      <%= link_to "Show this tabel sopir", tabel_sopir %>
    </p>
  <% end %>
</div>

<%= link_to "New tabel sopir", new_tabel_sopir_path %>
