<p style="color: green"><%= notice %></p>

<%= render @tabel_sopir %>

<div>
  <%= link_to "Edit this tabel sopir", edit_tabel_sopir_path(@tabel_sopir) %> |
  <%= link_to "Back to tabel sopirs", tabel_sopirs_path %>

  <%= button_to "Destroy this tabel sopir", @tabel_sopir, method: :delete %>
</div>
