<div id="<%= dom_id barang %>">
  <p>
    <strong>Name:</strong>
    <%= barang.name %>
  </p>

  <p>
    <strong>Harga:</strong>
    <%= barang.harga %>
  </p>

  <p>
    <strong>Qty:</strong>
    <%= barang.qty %>
  </p>

</div>
