<%= form_with(model: barang) do |form| %>
  <% if barang.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(barang.errors.count, "error") %> prohibited this barang from being saved:</h2>

      <ul>
        <% barang.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :harga, style: "display: block" %>
    <%= form.text_field :harga %>
  </div>

  <div>
    <%= form.label :qty, style: "display: block" %>
    <%= form.number_field :qty %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
