<%= form_with(model: tabel_kendaraan) do |form| %>
  <% if tabel_kendaraan.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(tabel_kendaraan.errors.count, "error") %> prohibited this tabel_kendaraan from being saved:</h2>

      <ul>
        <% tabel_kendaraan.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :ID_Kendaraan, style: "display: block" %>
    <%= form.number_field :ID_Kendaraan %>
  </div>

  <div>
    <%= form.label :No_Kndrn, style: "display: block" %>
    <%= form.text_field :No_Kndrn %>
  </div>

  <div>
    <%= form.label :Warna, style: "display: block" %>
    <%= form.text_field :Warna %>
  </div>

  <div>
    <%= form.label :No_Lambung, style: "display: block" %>
    <%= form.text_field :No_Lambung %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
