<div id="<%= dom_id tabel_kendaraan %>">
  <p>
    <strong>Id kendaraan:</strong>
    <%= tabel_kendaraan.ID_Kendaraan %>
  </p>

  <p>
    <strong>No kndrn:</strong>
    <%= tabel_kendaraan.No_Kndrn %>
  </p>

  <p>
    <strong>Warna:</strong>
    <%= tabel_kendaraan.Warna %>
  </p>

  <p>
    <strong>No lambung:</strong>
    <%= tabel_kendaraan.No_Lambung %>
  </p>

</div>
