<h1>Editing tabel kendaraan</h1>

<%= render "form", tabel_kendaraan: @tabel_kendaraan %>

<br>

<div>
  <%= link_to "Show this tabel kendaraan", @tabel_kendaraan %> |
  <%= link_to "Back to tabel kendaraans", tabel_kendaraans_path %>
</div>
