<p style="color: green"><%= notice %></p>

<h1>Tabel kendaraans</h1>

<div id="tabel_kendaraans">
  <% @tabel_kendaraans.each do |tabel_kendaraan| %>
    <%= render tabel_kendaraan %>
    <p>
      <%= link_to "Show this tabel kendaraan", tabel_kendaraan %>
    </p>
  <% end %>
</div>

<%= link_to "New tabel kendaraan", new_tabel_kendaraan_path %>
