<p style="color: green"><%= notice %></p>

<%= render @tabel_kendaraan %>

<div>
  <%= link_to "Edit this tabel kendaraan", edit_tabel_kendaraan_path(@tabel_kendaraan) %> |
  <%= link_to "Back to tabel kendaraans", tabel_kendaraans_path %>

  <%= button_to "Destroy this tabel kendaraan", @tabel_kendaraan, method: :delete %>
</div>
