<%= form_with(model: pegawai) do |form| %>
  <% if pegawai.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pegawai.errors.count, "error") %> prohibited this pegawai from being saved:</h2>

      <ul>
        <% pegawai.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :status, style: "display: block" %>
    <%= form.number_field :status %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
