<p style="color: green"><%= notice %></p>

<h1>Pegawais</h1>

<div id="pegawais">
  <% @pegawais.each do |pegawai| %>
    <%= render pegawai %>
    <p>
      <%= link_to "Show this pegawai", pegawai %>
    </p>
  <% end %>
</div>

<%= link_to "New pegawai", new_pegawai_path %>
