<p style="color: green"><%= notice %></p>

<%= render @pegawai %>

<div>
  <%= link_to "Edit this pegawai", edit_pegawai_path(@pegawai) %> |
  <%= link_to "Back to pegawais", pegawais_path %>

  <%= button_to "Destroy this pegawai", @pegawai, method: :delete %>
</div>
